<!doctype html>

<html ng-app="GatorTA" style="overflow-x:hidden !important">

<head>
    <link href="lib/angular-material/angular-material.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/semantic/dist/semantic.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/angular-material-icons/angular-material-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="lib/angular-input-stars-directive/angular-input-stars.css" rel="stylesheet" type="text/css" media="all" />
    <link href="modules/core/css/main.css" rel="stylesheet" type="text/css" />
    <link href="modules/admin/css/admin-main.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CB=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" integrity="sha256-bZkavcZrFlXfus3527w/pLbvXgyqnrHbNdMpwNXf1dA=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" integrity="sha256-BQwSEeLxuDggfePeFdo3V906rcvcJpkSAYr/Lqc2oSo="
			crossorigin="anonymous" />-->
</head>

<body ng-controller="AdminCtrl as ctrl" class="admin-body">
    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="lib/lodash/lodash.js"></script>
    <script type="text/javascript" src="lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="lib/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="lib/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script type="text/javascript" src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="lib/js-xlsx/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="lib/pdfjs-dist/build/pdf.js"></script>
    <script type="text/javascript" src="lib/pdfjs-dist/build/pdf.worker.js"></script>
    <script type="text/javascript" src="lib/angularjs-pdf/dist/angular-pdf.js"></script>
    <script type="text/javascript" src="lib/asmcrypto/asmcrypto.js"></script>
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/bson/browser_build/bson.js"></script>
    <script type="text/javascript" src="lib/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="lib/angular-ui-codemirror/ui-codemirror.min.js"></script>
    <script type="text/javascript" src="lib/marked/lib/marked.js"></script>
    <script type="text/javascript" src="lib/angular-marked/dist/angular-marked.min.js"></script>
    <script type="text/javascript" src="lib/waypoints/lib/noframework.waypoints.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-grid/ui-grid.min.js"></script>

    <md-content ng-include="'modules/core/views/adminLogin.html'" ng-if="!ctrl.Auth.loggedIn" ng-controller="LoginCtrl as lCtrl"></md-content>

    <md-toolbar ng-if="ctrl.Auth.loggedIn" class="main-bar">
        <div class="md-toolbar-tools">
            <div class="menu" ng-include="'modules/admin/views/menu.html'"></div>
            <h1 class="main-text">{{ctrl.stateName}}</h1>
            <span flex></span>
            <div class="logged-user">{{ctrl.userName}}</div>
        </div>
    </md-toolbar>
    <div class="admin-container" ng-include="'modules/admin/views/sidenav.html'" ng-if="ctrl.Auth.loggedIn"></div>
    <div class="admin-container" ng-include="'modules/admin/views/main.html'" ng-if="ctrl.Auth.loggedIn"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js" integrity="sha256-YUCh5+Y7KLYFkfuGkmKTo2Bsm2+RHjbG7aefaPF/cBg=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js" integrity="sha256-Gj4eDejApF7RbvsodmqdIP04aLC9sjKZ7YOkTqV7khA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="modules/core/utils/LoadData.js"></script>
    <script type="text/javascript" src="modules/core/services/Auth.js"></script>
    <script type="text/javascript" src="modules/core/services/Notify.js"></script>
    <script type="text/javascript" src="modules/core/services/Users.js"></script>
    <script type="text/javascript" src="modules/core/services/Semesters.js"></script>
    <script type="text/javascript" src="modules/core/services/Courses.js"></script>
    <script type="text/javascript" src="modules/core/controllers/LoginCtrl.js"></script>
    <script type="text/javascript" src="modules/core/controllers/RegisterCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/AdminCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/SemesterCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/SemesterCreateCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/SummaryCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/FacultyCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/AddFacultyCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/StudentsCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/AddStudentsCtrl.js"></script>
    <script type="text/javascript" src="modules/admin/controllers/CoursesCtrl.js"></script>
    <script type="text/javascript" src="modules/core/Core.js"></script>

    <script type="text/javascript" src="modules/admin/admin.js"></script>

</body>






</html>