<md-dialog aria-label="About" class="student-modal" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Profile</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cMod.cancel()">
                <md-icon aria-label="Close dialog">
                    <i class="fa fa-times"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="student-modal-content" layout="column" layout-padding style="overflow:scroll;">
        <label class="md-title">Basic Information</label>
        <form>
            <md-content layout="row" layout-padding>
                <md-input-container class="md-block basic-info">
                    <label>First Name</label>
                    <input type="text" ng-model="cMod.user.firstName">
                </md-input-container>
                <md-input-container class="md-block basic-info">
                    <label>Last Name</label>
                    <input type="text" ng-model="cMod.user.lastName">
                </md-input-container>
                <md-input-container class="md-block basic-info">
                    <label>UF Email</label>
                    <input type="text" ng-model="cMod.studentProfile.email">
                </md-input-container>
            </md-content>
            <md-content layout="row" layout-padding>
                <md-input-container class="md-block basic-info">
                    <label>Student Type</label>
                    <md-select class="basic-info-dropdown" ng-model="cMod.studentProfile.studentType">
                        <md-option ng-repeat="types in cMod.studentTypes" value="{{types.type}}">
                            {{types.type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block basic-info">
                    <md-checkbox ng-model="cMod.studentProfile.FSS" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'" style="opacity:100; margin:inherit; left:0%;">
                        First Semester Student?
                    </md-checkbox>
                </md-input-container>
                <md-input-container class="md-block basic-info">
                    <label>GPA</label>
                    <input type="number" ng-model="cMod.studentProfile.GPA">
                </md-input-container>
            </md-content>
        </form>
        <label class="md-title" style="margin-top: 4%">Test Scores</label>
        <md-content style="overflow:visible">
            <form>
                <md-content layout="row" layout-padding>
                    <md-input-container class="md-block basic-info">
                        <label>College Admission Test Scores</label>
                        <md-select class="basic-info-dropdown" ng-model="cMod.testType" select-clear>
                            <md-option ng-repeat="tests in cMod.testTypes" value="{{tests.type}}">
                                {{tests.type}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block basic-info">
                        <label>Test Score</label>
                        <input type="number" ng-model="cMod.testScore">
                    </md-input-container>
                    <md-button ng-click="cMod.addTest()">
                        <md-icon aria-label="Add Test">
                            <i class="fa fa-plus"></i>
                        </md-icon>
                    </md-button>
                </md-content>
            </form>
            <md-data-table-container class="semester-table-special">
                <table md-data-table>
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Score</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in cMod.tl">
                            <td> {{test[0]}} </td>
                            <td> {{test[1]}} </td>
                            <td>
                                <md-button class="md-icon-button" ng-click="cMod.deleteTest(test)">
                                    <md-icon aria-label="Close dialog">
                                        <i class="fa fa-trash ui-con"></i>
                                    </md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-content>
        <label class="md-title" style="margin-top: 4%">Degrees</label>
        <md-content style="overflow:visible">
            <form>
                <md-content layout="row" layout-padding>
                    <md-input-container class="md-block basic-info">
                        <label>Degree Type</label>
                        <md-select class="basic-info-dropdown" ng-model="cMod.individualDL">
                            <md-option ng-repeat="types in cMod.degreeTypes" value="{{types.type}}">
                                {{types.type}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block basic-info">
                        <label>Degree Title</label>
                        <input type="text" ng-model="cMod.individualDegree">
                    </md-input-container>
                    <md-button ng-click="cMod.addDegree()">
                        <md-icon aria-label="Add Degree">
                            <i class="fa fa-plus"></i>
                        </md-icon>
                    </md-button>
                </md-content>
            </form>
            <md-data-table-container class="semester-table-special">
                <table md-data-table>
                    <thead>
                        <tr>
                            <th>Degree Level</th>
                            <th>Degree Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="degree in cMod.dl">
                            <td> {{degree[0]}} </td>
                            <td> {{degree[1]}} </td>
                            <td>
                                <md-button class="md-icon-button" ng-click="cMod.deleteDegree(degree)">
                                    <md-icon aria-label="Close dialog">
                                        <i class="fa fa-trash ui-con"></i>
                                    </md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-content>
        <label class="md-title" style="margin-top: 4%">CISE Courses Taken</label>
        <md-content style="overflow:visible">
            <form>
                <md-content layout="row" layout-padding>
                    <md-input-container class="md-block basic-info">
                        <label>Course Code and Name</label>
                        <md-select class="basic-info-dropdown" ng-model="cMod.individualCourse" select-clear>
                            <md-option ng-repeat="courses in cMod.CourseList" value="{{courses.cid}}">
                                {{courses.cid}} {{courses.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block basic-info">
                        <label>Grade Earned</label>
                        <md-select class="basic-info-dropdown" ng-model="cMod.individualGrade" select-clear>
                            <md-option ng-repeat="grades in cMod.grades" value="{{grades.grade}}">
                                {{grades.grade}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-click="cMod.appendCourseList()">
                        <md-icon aria-label="Add Course">
                            <i class="fa fa-plus"></i>
                        </md-icon>
                    </md-button>
                </md-content>
            </form>
            <md-data-table-container class="semester-table-special">
                <table md-data-table>
                    <thead>
                        <tr>
                            <th>Course Taken</th>
                            <th>Grade</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="course in cMod.cl">
                            <td> {{course[0]}} </td>
                            <td> {{course[1]}} </td>
                            <td>
                                <md-button class="md-icon-button" ng-click="cMod.deleteCourse(course)">
                                    <md-icon aria-label="Close dialog">
                                        <i class="fa fa-trash ui-con"></i>
                                    </md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions class="order-fix" layout="row">
        <span flex></span>
        <md-button md-autofocus ng-click="cMod.accept()">Accept</md-button>
        <md-button ng-click="cMod.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>