<md-sidenav class="md-whiteframe-z1 md-open student-sn" md-component-id='left' md-is-locked-open="true">
    <md-toolbar class="md-tall">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <h4 class="md-headline">{{ctrl.stateName}}</h4>
            <span></span>
            <div class="md-title">{{ctrl.user.firstName}} {{ctrl.user.lastName}}</div>
            <div class="md-subhead">{{ctrl.user.email}}</div>
        </div>
    </md-toolbar>
    <md-content class="fake-menu">
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('studentProfile')">
                <i class="fa fa-users md-menu-icon"></i>
                <p class="md-menu-text">Student Profile</p>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('taApps')">
                <i class="fa fa-file-text-o md-menu-icon"></i>
                <p class="md-menu-text">TA Application</p>
            </md-button>
        </md-menu-item>

        <md-divider></md-divider>
        <md-subheader>Account Management</md-subheader>
        <md-menu-item>
            <md-button ng-click="">
                <i class="fa fa-sign-out md-menu-icon"></i>
                <p class="md-menu-text">Logout</p>
            </md-button>
        </md-menu-item>
    </md-content>
</md-sidenav>