<md-content class="switch-tainer" ng-switch="ctrl.state">

    <div ng-switch-when="semesters">
        <div ng-include="'modules/admin/views/semesters.html'" ng-controller="SemesterCtrl as ctrl2"></div>
    </div>

    <div ng-switch-when="faculty">
        <div ng-include="'modules/admin/views/faculty.html'" ng-controller="FacultyCtrl as ctrl2"></div>
    </div>

    <div ng-switch-when="students">
        <div ng-include="'modules/admin/views/students.html'" ng-controller="StudentsCtrl as ctrl2"></div>
    </div>

    <div ng-switch-when="courses">
        <div ng-include="'modules/admin/views/TAManagement.html'" ng-controller="TAManagementCtrl as ctrl2"></div>
    </div>

</md-content>