<md-dialog aria-label="Add Semester" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Semester</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cMod.cancel()">
                <md-icon aria-label="Close dialog">
                    <i class="fa fa-times fa-2x"></i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="semester-edit-modal" layout="column" layout-padding>
        <form>
            <md-content layout="row">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="cMod.semester.name">
                </md-input-container>
                <md-input-container>
                    <label>Eid</label>
                    <input type="text" ng-model="cMod.semester.eid">
                </md-input-container>
            </md-content>
        </form>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Courses">
                    <div flex="5"></div>
                    <form novalidate name="semesterForm" ng-model="semesterForm">
                        <md-content layout="row">
                            <md-input-container>
                                <label>Course Code</label>
                                <input type="text" ng-model="cMod.course.cid" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Name</label>
                                <input type="text" ng-model="cMod.course.name" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Enrollment</label>
                                <input type="number" ng-model="cMod.course.enrollment" required>
                            </md-input-container>
                            <md-input-container class="md-block basic-info">
                                <label>Professor</label>
                                <md-select class="basic-info-dropdown" ng-model="cMod.course.professor1" required>
                                    <md-option ng-repeat="faculty in cMod.facultyList" value="{{faculty.email}}">
                                        {{faculty.firstName}} {{faculty.lastName}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-button>
                                <i class="icon add-icon ui-con" ng-class="{'plus': !cMod.editing, 'checkmark':cMod.editing}" ng-click="cMod.addCourse()"></i>
                            </md-button>
                        </md-content>
                    </form>
                    <md-data-table-container class="semester-table-special">
                        <table md-data-table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Enrollment</th>
                                    <th>Professor</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="course in cMod.courseList">
                                    <td> {{course.cid}} </td>
                                    <td> {{course.name}} </td>
                                    <td> {{course.enrollment}} </td>
                                    <td> {{course.professor1}} </td>
                                    <td>
                                        <md-button class="md-icon-button" ng-click="cMod.course = course; cMod.editing = true;">
                                            <md-icon aria-label="Close dialog">
                                                <i class="fa fa-pencil ui-con"></i>
                                            </md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-click="cMod.removeScore($index)">
                                            <md-icon aria-label="Close dialog">
                                                <i class="fa fa-trash ui-con"></i>
                                            </md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-data-table-container>
                </md-tab>
            </md-tabs>
        </md-content>

        <md-content ngf-drop="cMod.import($file)" ngf-drag-over-class="'file-dragover'" ngf-multiple="false" ngf-allow-dir="false">
            <md-icon aria-label="Close dialog">
                <i class="fa fa-upload">Upload CSV File Course List</i>
            </md-icon>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions class="order-fix" layout="row">
        <span flex></span>
        <md-button md-autofocus ng-click="cMod.accept()">Accept</md-button>
        <md-button ng-click="cMod.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>