<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">

    </md-toolbar>
    <md-content class="fake-menu">
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('admissions')">
                <i class="fa fa-users md-menu-icon"></i>
                <p class="md-menu-text">Summary</p>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('reviews')">
                <i class="fa fa-search md-menu-icon"></i>
                <p class="md-menu-text">Student Management</p>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('faculty')">
                <i class="fa fa-graduation-cap md-menu-icon"></i>
                <p class="md-menu-text">Faculty Management</p>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('semesters')">
                <i class="fa fa-line-chart md-menu-icon"></i>
                <p class="md-menu-text">Semester Management</p>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.selectView('summary')">
                <i class="fa fa-file-text-o md-menu-icon"></i>
                <p class="md-menu-text">Course TA Management</p>
            </md-button>
        </md-menu-item>
    </md-content>
</md-sidenav>