.admin-body {
    overflow-y: hidden;
    background-color: #e7e7e7;
}

.main-text {
    font-size: 25px !important;
    margin-left: calc(1em - 10px) !important;
    margin-top: calc(1em - 23px) !important;
}

.ui-con {
    outline: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .54) !important;
}

.ui-con-white {
    outline: none;
    cursor: pointer;
    color: white !important;
}

.one-line-padding {
    padding: 2px 5px 2px !important;
}

.textarea-fix {
    padding-left: 10px !important;
    top: -13px !important;
}

.checkbox-padding-fix {
    top: 10px;
}

.main-bar {
    box-shadow: 0px 1px 5px black;
}

.fake-menu {
    padding: 8px 0 0 0;
}

.switch-tainer {
    height: 93vh;
}


/* Login styles */

.login-inner-admin {
    background-color: white;
    height: 600px;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-buttons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-button {
    margin: 10px !important;
    width: 300px;
}


/* Sidebar styles */

.md-menu-text {
    font-size: 20px;
    position: absolute;
    left: calc(4em - 8px);
    bottom: calc(1em - 10px);
}

.md-menu-icon {
    font-size: 20px;
}

.md-menu-name {
    height: 100%;
    width: 106%;
}

.div-ider {
    height: 1px;
    background-color: #E1E1E1;
    margin: 5 3 5 3;
    padding: 0;
}


/* Admissions Styles */

.admissions-container {
    height: calc(100% - 72px);
}

.admissions-table-bar {
    box-shadow: 0px 1px 5px black;
}

.admissions-table {
    box-shadow: 4px 1px 5px gray;
}

.file-dragover {
    border: 5px dashed blue;
}

.row-dragover {
    background-color: lightblue;
}

html {
    overflow-y: hidden !important;
}

.save-green {
    color: lightgreen !important;
}

.new-element {
    background-color: lightgreen;
}


/* Semester styles */

md-list-item>div {
    outline: none;
}

.add-icon {
    font-size: 2em !important;
    top: 35px;
    position: relative;
}

.semester-create-modal {
    height: 900px;
    width: 900px;
}

.semester-name {
    color: rgba(0, 0, 0, 0.58);
    display: inline;
}

.semester-id {
    color: rgba(0, 0, 0, 0.45);
    display: inline;
}

.semester-border-container {
    border-top: 1px solid #E1E1E1;
}

.semester-tabs {
    height: 50em;
    padding-left: 10px;
}

.semester-table {
    max-height: 100%;
}

.semester-bar {
    box-shadow: 1px 1px 5px gray;
}

.semester-list {
    box-shadow: 1px 2px 6px gray;
    height: calc(100% - 64px);
}

.semester-display {
    margin-left: 10px;
    box-shadow: 1px 1px 9px gray;
    height: calc(100% - 64px);
    overflow: hidden;
}

.semester-display-wrap {
    padding: 4px;
}

.semester-table-special {
    max-height: 60%;
}


/* Faculty styles */

.faculty-list {
    height: 90vh;
    min-width: 25vw;
    overflow-y: hidden;
    border-right: 1px solid #E1E1E1;
    margin: 0.5em;
    box-shadow: 1px 2px 6px gray;
}

.faculty-listy {
    overflow-y: scroll;
    min-width: inherit;
}

.faculty-modal {
    width: 600px;
    overflow: hidden;
}

.faculty-bar {
    box-shadow: 1px 1px 5px gray;
}

.faculty-list {
    box-shadow: 1px 2px 6px gray;
}

.faculty-details {
    min-width: 74vw;
    max-height: 100vh;
    padding: 4%;
}

.faculty-section-title {
    margin-bottom: 2%;
}

.faculty-info {
    margin: inherit;
}

.course-list {
    margin-top: 15px;
}

.semester-edit-modal {
    display: flex;
    min-width: 60vw;
}


/* Summary styles */

.summary-content {
    width: 100%;
    height: 100%;
    padding: 5px 5px 6px 5px;
}


/* Modal styles */

.about-modal {}

.pdf-modal {
    overflow: hidden;
    width: 80vw;
    height: 100%;
}

.pdf-upload-cont {
    width: 100%;
    overflow: scroll;
    height: 100%;
}

.fake-bar {
    background-color: white;
    height: 30px;
    width: 100%;
}


/* Arbitrary style (styles) */

.overflow {
    overflow: hidden !important;
}

.overflow-x {
    overflow-x: hidden !important;
}

.overflow-y {
    overflow-y: hidden !important;
}

.white-back {
    background-color: white !important;
}

.trans-back {
    background-color: transparent !important;
}

.full-width {
    width: 100% !important;
}

.center-text {
    text-align: center !important;
}

.pointer {
    cursor: pointer !important;
}

.add-faculty-input {
    display: flex;
    flex: 1;
}


/*// Fixes //*/


/* Dialog fix so we overwrite angular material 80% dialogs */

md-dialog {
    max-height: 100% !important;
    max-width: 100% !important;
}


/* Fixes order in <md-dialog-actions>, place it on that */

.order-fix {
    order: 2 !important;
}

.grid {
    height: calc(100vh - 72px);
    width: 100%;
}

.green {
    color: green !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.chipsdemoContactChips md-content.autocomplete {
    min-height: 250px;
}

.chipsdemoContactChips md-content.autocomplete input {
    min-width: 400px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3,
.chipsdemoContactChips .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 960px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: hidden;
}


/*   */

a {
    text-decoration: none;
}

i {
    vertical-align: middle;
    font-size: 24px;
}

.main-fab {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    top: 100px;
    left: 24px;
    transform: scale(.88, .88);
}

.md-breadcrumb {
    padding-left: 88px;
}

.JCLRgrip:first-child {
    left: 105px!important;
    display: none!important;
}

.JColResizer th:first-child {
    width: 105px!important;
}

.md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgb(130, 130, 130);
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px 16px 16px 0;
}

.md-table-header a {
    text-decoration: none;
    color: inherit;
}

.md-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
}

.md-table-td-more {
    max-width: 72px;
    width: 72px;
    padding: 16px;
}

.md-table-thumbs {
    max-width: 104px;
    width: 104px;
    padding: 16px 32px;
}

.md-table-thumbs div {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.md-table-footer {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.md-table-count-info {
    line-height: 40px;
    font-size: .75em;
}

.md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.md-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

md-input-container.md-default-theme .md-input {
    color: white;
    border-color: white;
    margin-top: 24px;
}